* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #eedfcc;
    padding-top: 80px;
}

.sezioni {
    background-color: #F3EADF;
}

.navbar-nav .nav-link {
    transition: transform 0.3s ease;
}

.navbar-nav .nav-link:hover {
    transform: translateY(-2px);
    color: #7A5E4E; 
}






