* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #eedfcc;
    padding-top: 80px;
}

.sezioni {
    background-color: #F3EADF;
}

.navbar-nav .nav-link {
    transition: transform 0.3s ease;
}

.navbar-nav .nav-link:hover {
    transform: translateY(-2px);
    color: #7A5E4E; 
}

/* Aggiunta per il Calendario in prenota.php */
.calendar-table th {
    text-align: center;
    background-color: #7A5E4E;
    color: white;
}
.calendar-table td {
    text-align: center;
    vertical-align: middle;
    padding: 0;
    height: 50px;
}
.cell-free {
    background-color: #d4edda; /* Verde chiaro */
    transition: 0.3s;
}
.cell-free:hover {
    background-color: #c3e6cb;
}
.cell-free a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #155724;
    line-height: 50px; /* Centra verticalmente il testo */
}
.cell-occupied {
    background-color: #f8d7da; /* Rosso chiaro */
    color: #721c24;
    cursor: not-allowed;
}

/* Stile per i Checkbox nel Calendario */
.check-container {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}
.check-container input {
    width: 20px;
    height: 20px;
    margin-top: 15px; /* Centra verticalmente */
    cursor: pointer;
}
/* Evidenzia la cella quando il mouse passa sopra */
.cell-free:hover {
    background-color: #c3e6cb;
}





